




.main-cont { min-height: calc(100vh - 80px); }

footer { background: #ccc; }

// Begin: Form


.input-password { position: relative;
    .icon { position: absolute; right: 1rem; top: 50%; transform: translateY(-50%); z-index: 2; cursor: pointer; }
}
.close-btn { position: absolute; right: -0.2rem; top: -0.8rem; }


.spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    --bs-spinner-border-width: 0.1em;
}

#file-input {  display: none; }
.upload-btn { background-color: #4CAF50; color: white; padding: 10px 20px; border: none; cursor: pointer; font-size: 16px; border-radius: 5px;
    &:hover { background-color: #45a049; }
}

// End: Form