<nav class="navbar navbar-expand-lg bg-body-dark">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">E-COM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/product']">Product</a>
          </li>
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right gap-3">
          <li><a [routerLink]="['/index/register']"><span class="glyphicon glyphicon-user"></span> Register</a></li>
          <li><a [routerLink]="['/index/login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a [routerLink]="['/user/profile']"><span class="glyphicon glyphicon-log-in"></span> Profile</a></li>
        </ul>
      </div>
    </div>
  </nav>
  